*{
    margin: 0%;
    padding: 0%;
}
body{
     background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,82,1) 100%);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
h3, h2{
    margin-bottom: 5px;
    margin-top: 10px;
}
